.category {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 60px 0;
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        width: 70%;
    }
}